{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block extraheader %}
    <style>
        .profile-thumb {
            overflow: hidden;
            width: 110px;
            height: 110px;
            border: #fff 3px solid;
            border-radius: 55px;
            margin-top: 20px;
            background: #fff;
        }

        .profile-thumb img {
            display: block;
            width: 100%;
            height: auto;
        }
    </style>
{% endblock %}

{% block main %}
        {% for m in matching %}
            <div class="card w-50 p-3">
                <h5 class="card-header">{{ m.created_at }}</h5>
                <div class="card-body">
                    <div class="profile-thumb">
                        <p><a href="{% url 'profile_detail' m.approaching.pk %}">
                            <img src="{{ m.approaching.face_image.url }}" alt="アイコン">
                        </a></p>
                    </div>
                    <p class="card-text">{{ m.approaching }}からいいねが届きました</p>
                    <a href="{% url 'profile_detail' m.approaching.pk %}" class="btn btn-primary">プロフィールを見る</a>
                </div>
            </div>
            <br>
        {% endfor %}

{% endblock %}
